/* main rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
html,body {
    font-size: 27px;
    font-family: "Lato Black", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 5px;
}
.links a:hover {
    background-color: var(--sec-color);
    color: var(--first-color);
    padding: 3px;
}
.logo:hover {
    background-color: var(--sec-color);
    color: var(--first-color);
    padding: 3px;

}


/* my variables */
:root {
    --first-color: #51345e;
    --sec-color: #ffffff;
  }

/* end my variabls */

/* end main rules  */
/* starting first page  */
.main {
    background-image: url('/img/Home.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    font-weight: bolder;
    
}
.content {
    top: 50%;
    right: 50%;
    transform: translate(50%, -64%); /*its 50% for defult !!! */
    font-size: 60px;
}
.text {
    right: 51%;
    transform: translate(50%,50%);
    font-size: 46px;
}
.co1  {
    color:var(--sec-color);
}
.co2  {
    color:var(--first-color);
}
.col1 {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 5px;
    width: 50%;
}
.col2 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 5px;
    width: 50%;
}
/* Small */
@media (max-width: 768px) {
    .content {
        font-size: 30px;
    }
  }
  #footer {
    bottom:1px;
    width: 100%;
    padding-right: 145px;
  }
.face:hover {
    color: blue;
  }
  .tweater:hover{
    color: aqua;
  }
  .inst:hover{
    color: rgb(194, 11, 72);
  }
/* ending first page  */

/* start about page  */
.about {
    background-image: url('./img/About.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    font-weight: bolder;
    
}
.about .col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 50%;
    flex-direction: column;
    font-size: 22px;
}
.about .col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 50%;
    flex-direction: column;
    font-size: 22px;
}
.icon1 {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 20px;
    font-size: 60px;
}
/* Small */
@media (max-width: 768px) {
    .about .col1 {
        font-size: 16px;
    }
    .about .col2 {
        font-size: 16px;
    }
    .icon1 {
        padding: 10px;
        font-size: 30px;
    }
  }
  @media (max-width: 468px) {
    .about .col1 {
        font-size: 12px;
    }
    .about .col2 {
        font-size: 12px;
    }

  }
  .t1 {
    margin-bottom:50px;
  }
/* end about page  */

/* start product page  */
.product {
    background-image: url('./img/Home.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    font-weight: bolder;
    
}
.product .col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 50%;
}
.product-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.product-txt {
    width: 300px;
}
#product-flex {
    flex-direction: row-reverse;
    
    justify-content:center ;
}
.product-icon {
    font-size: 55px;
    display: flex;
    align-items: center;
    margin-right: 53px;
}
@media (max-width: 768px) {
    .product-icon {
        display: none;
    }
    
}
.product-img {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-35%, 50%);
    border: 7px solid #000;
    border-radius: 14px;
}
.product-img img {
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .product-img{
        width: 75%;
    } 
    
}
.lets-start {
    font-size: 22px;
}
/* end product page  */

/* start contact page  */
.contact {
    background-image: url('./img/Contact.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    font-weight: bolder;
}
.col1 input , textarea   {
    background-color: var(--first-color);
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 5px;
    width: 100%;
}
.button-sb {
    border:2px solid #51345e ;
    color: var(--first-color);
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.contact .content {
    top: 50%;
    right: 50%;
    transform: translate(50%, -64%); /*its 50% for defult !!! */
    font-size: 30px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.text-a {
    height: 120px;
}


/* end contact page  */
